[user]
  name = Quinton Roberts
  email = quinton@qjr.ca
[alias]
  co = checkout
  changelog = log --pretty=format:\"- %s [%h]\" --no-merges
[core]
  editor = vim
[web]
  browser = google-chrome
[color]
  ui = auto
  interactive = auto
[credential]
  helper = osxkeychain
[push]
  default = simple
[log]
  abbrevCommit = true
  decorate = true
[diff]
  algorithm = patience
[diff "localizablestrings"]
  textconv = "iconv -f utf-16 -t utf-8"
[help]
  autocorrect = 1
